<!-- This is the menu which stay visible for every pages -->
<ul class="c-nav c-nav--inline">
  <li class="c-nav__item" routerLink="/pizza/list"><i class="fa fa-home">Les Pizzas</i></li>
  <li class="c-nav__item" routerLink="/pizza/form"><i class="fa fa-home">Crée ta Pizza</i></li>
  <li class="c-nav__item c-nav__item--right" routerLink="/ingredient/list"><i class="fa fa-home">Gérer les ingredients</i></li>
</ul>

<!-- This is were all our pages will be displayed -->
<router-outlet></router-outlet>
