.page-middle {
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;
}
.rgt {
  text-align: right;
  float: right;
  margin-top: 15px;
}
.imp {
  font-size: 20px;
}
.center-align {
  margin-top: 22px;
}
.space {
  margin-right: 10px;
}
