<div class="c-card">
  <div class="c-card__item">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p class="o-form-element" [hidden] = "true">
        <label class="c-label">ID :</label>
        <input class="c-field"  type="text" formControlName="_id">
      </p>
      <p class="o-form-element">
        <label class="c-label">Name :</label>
        <input class="c-field"  type="text" formControlName="name">
      </p>
      <p class="o-form-element">
        <label class="c-label">Weight:</label>
        <input class="c-field"  type="text" formControlName="weight">
      </p>
      <p class="o-form-element">
        <label class="c-label">Price : (en centimes)</label>
        <input class="c-field" placeholder="ex: 1,60€ = 160 centimes" type="text" formControlName="price">
      </p>
      <button type="submit" class="c-button c-button--info c-button--block">Save</button>
    </form>
  </div>
</div>


